// -- 반응형 미디어쿼리 설정
@mixin mobile {
  @media (max-width: #{$bp-mobile}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$bp-mobile + 1}) and (max-width: #{$bp-tablet}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$bp-tablet + 1}) {
    @content;
  }
}

// -- 각 디바이스 환경에서 숨김
@include mobile {
  .m-hidden {
    display: none;
  }
}
@include tablet {
  .t-hidden {
    display: none;
  }
}
@include desktop {
  .d-hidden {
    display: none;
  }
}

// -- 기본 Font 크기 설정
@media (max-width: #{$bp-mobile}) {html{font-size:0.5rem;}}
@media (min-width: #{$bp-mobile + 1}) and (max-width:$bp-tablet) {html{font-size:0.55rem;}}
@media (min-width: #{$bp-tablet + 1}) {html{font-size:0.625rem;}}
