html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

main:after,
.header-wrap header:after,
main .member-list .pagination ul:after {
  display: block;
  content: '';
  clear: both;
}

legend,
.a11y-hidden {
  display: block;
  margin: -1px;
  padding: -1px;
  text-indent: -9999em;
  white-space: nowrap;
  overflow: hidden;
  width: 0px;
  height: 0px;
}

.container {
  background: #eeeff7;
  position: relative;
  width: 100%;
}

.header-wrap {
  background: #dedfd7;
  width: 100%;
  height: 100px;
}

main {
  margin-right: auto;
  margin-left: auto;
  height: 1000px;
  max-width: 1024px;
}

.footer-wrap {
  background: #445878;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

body {
  font-family: "Spoqa Han Sans";
  font-size: 1.6rem;
  color: #1c1d21;
  line-height: 1.5;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2rem;
}

img {
  vertical-align: top;
}

button {
  border: 0;
  background: transparent;
}

button:hover,
button:focus {
  outline: 2px solid #8787ee;
}

button[class*="btn-"] {
  padding-top: 7px;
  padding-right: 20px;
  padding-bottom: 7px;
  padding-left: 20px;
  background: #72adaf;
  font-size: 1.6rem;
  color: #efefef;
  border: 1px solid #729da6;
  border-radius: 4px;
}

form {
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  background: #dedfd7;
  border-radius: 4px;
  font-size: 2rem;
}

form fieldset {
  margin: 0;
  padding: 0;
}

.form-element {
  margin-bottom: 12px;
}

.form-element label {
  width: 120px;
  display: inline-block;
}

.form-element.btn {
  margin-bottom: 0;
  padding-top: 10px;
  text-align: center;
}

input {
  border: 1px solid #898989;
}

input[type="text"],
input[type="password"] {
  box-sizing: border-box;
  padding-top: 4px;
  padding-right: 10px;
  padding-bottom: 4px;
  padding-left: 10px;
  width: 65%;
}

.require-mark {
  vertical-align: middle;
}

.require-mark:after {
  content: "*";
  color: #dd3333;
}

table {
  width: 100%;
  max-height: 600px;
}

caption {
  text-indent: -9999em;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  height: 0;
}

tr {
  height: 50px;
  border-bottom: 1px solid #888888;
}

tr:hover {
  background-color: #dedfd7;
}

thead > tr:hover {
  background-color: transparent;
}

tr:last-child {
  border-bottom: 1px solid #888888;
}

thead {
  border-top: 2px solid #656565;
  border-bottom: 2px solid #656565;
}

th,
td {
  padding-left: 20px;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a.active,
a:focus {
  color: #1c1d21;
}

a:hover,
a:focus {
  outline: 2px solid #8787ee;
}

.header-wrap header .logo {
  margin-top: 10px;
  margin-left: 20px;
  width: 80px;
  height: 80px;
}

.header-wrap header nav {
  margin-top: 30px;
  margin-right: 20px;
  float: right;
}

.footer-wrap footer {
  margin-top: 18px;
  margin-left: 20px;
  color: #eeeff7;
}

main {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

main h1 {
  text-align: center;
}

main .registration {
  margin-top: 30px;
  width: 470px;
  border-radius: 5px;
  float: right;
}

main .registration form {
  margin-top: 15px;
}

main .registration .btn-registration-submit {
  padding-top: 10px;
}

main .infomation {
  margin-top: 30px;
  width: 470px;
}

main .infomation h2 {
  text-align: center;
}

main .infomation p {
  margin-top: 15px;
  color: #1f1f2f;
}

main .infomation img {
  margin-top: 15px;
  width: 100%;
}

main .member-list {
  width: 100%;
}

main .member-list table {
  margin-top: 20px;
}

main .member-list table .num {
  width: 12%;
}

main .member-list table .company {
  width: 30%;
}

main .member-list table .name {
  width: 28%;
}

main .member-list table .userid {
  width: 30%;
}

main .member-list table tr > td:first-child {
  text-align: center;
}

main .member-list .pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
}

main .member-list .pagination ul {
  border-radius: .5rem;
}

main .member-list .pagination ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  float: left;
}

main .member-list .pagination ul li a.active {
  font-weight: 700;
  text-decoration: underline;
}

/*# sourceMappingURL=../../map/style.css.map */

@media (min-width: 1025px) {
  .d-hidden {
    display: none;
  }

  html {
    font-size: 0.625rem;
  }
}

@media (max-width: 750px) {
  .m-hidden {
    display: none;
  }

  html {
    font-size: 0.5rem;
  }

  main {
    min-width: 280px;
    max-width: 680px;
  }

  .form-element label {
    display: block;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
  }

  .footer-wrap footer {
    margin-top: 0;
    margin-left: 0;
  }

  .footer-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  main .registration {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 470px;
    float: none;
  }
}

@media (min-width: 751px) and (max-width: 1024px) {
  .t-hidden {
    display: none;
  }

  html {
    font-size: 0.55rem;
  }

  main {
    max-width: 860px;
  }

  .footer-wrap footer {
    margin-top: 0;
    margin-left: 0;
  }

  .footer-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  main .registration {
    margin-right: auto;
    margin-left: auto;
    width: 510px;
    float: none;
  }
}